<html lang="ko">
<head>
    <title>편의점 자동 계산 시스템</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> <!--공통스타일-->
</head>
<body>
    <h1>비밀번호 변경</h1>
    <hr>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- End of Flash messages -->
    <form method="post" action="">
        <label for="oldpassword">
            현재 비밀번호 입력 : <input type="text" name="oldpassword" id="oldpassword" required>
        </label>
        <br>
        <label for="newpassword_1">
            새 비밀번호 입력 : <input type="text" name="newpassword_1" id="newpassword_1" required>
        </label>
        <br>
        <label for="newpassword_2">
            새 비밀번호 재입력 : <input type="text" name="newpassword_2" id="newpassword_2" required>
        </label>
        <br>
        <input type="submit" value="변경">
    </form>
    <a href="/"><button>뒤로가기</button></a>
</body>
</html>