<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>편의점 자동 계산 시스템</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/scan_style.css">
</head>
<body>
    <div class="left-side">
        <table id="item-table">
            <tbody>
                <!--실시간 스캔 상품 여기에-->
            </tbody>
        </table>
    </div>
    <div class="right-side">
        <div id="total-price-container">
            <strong>합계 : </strong><span id="total-price">0</span>원
        </div>
        <div class="payment-method">
            <h1>결제 방법 선택</h1>
            <input type="radio" id="creditcard" name="payment_method" value="creditcard" checked>
            <label for="creditcard">신용카드</label>
            <input type="radio" id="kakaopay" name="payment_method" value="kakaopay">
            <label for="kakaopay">카카오페이</label>
            <input type="radio" id="naverpay" name="payment_method" value="naverpay">
            <label for="naverpay">네이버페이</label>
        </div>
        <form id="payment-form" method="post" action="/customer/pay">
            <input type="hidden" name="total_price" id="total-price-input">
            <input type="hidden" name="payment_method" id="payment-method-input">
            <input type="hidden" name="year" id="year-input">
            <input type="hidden" name="month" id="month-input">
            <input type="hidden" name="day" id="day-input">
            <button type="submit" id="submit-button" class="disabled-button s-button" disabled>결제하기</button>
        </form>
        <br>
        <br>
        <a href="/customer/start"><button class="middle">처음으로</button></a>
    </div>
    <script src="/static/javascript/scan_script.js"></script>
</body>
</html>
