<html lang="ko">
<head>
    <title>편의점 자동 계산 시스템</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> <!--공통스타일-->
</head>
<body>
    <h1>매니저님, 환영합니다.</h1>
    <hr>
    <a href="/customer/start"><button class="big">고객용 클라이언트</button></a>
    <a href="/statistics"><button class="big">월별 매출 관리</button></a>
    <br>
    <a href="/auth/update"><button class="big">비밀번호 변경</button></a>
    <a href="/auth/logout"><button class="big">로그아웃</button></a>
</body>
</html>